<% if tweet.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h4>
    <ul>
    <% tweet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>