<tr>
  <td>
    <div class="tweet_body">
      <%= tweet.body %>
    </div>
    <div class="tweet_timestamp">
      <%= time_ago_in_words(tweet.created_at) %> ago by <%= link_to tweet.user.handle, user_path(tweet.user) %>
    </div>
    <div class="hashtags">
      <%= tweet.hashtags.map(&:body).join(", ") %>
    </div>
  </td>
</tr>