<%= render :partial => 'errors', :locals => {:tweet => @tweet} %>

<br/><br/>
<h2 style="text-align:center;"><%= link_to 'Visit the Tweets Map!', tweets_map_path %></h2>

<div class="new_tweet_wrapper">
<%= render :partial => 'form', :locals => {:tweet => @tweet} %>
</div>

<table class="tweets_list">
<% @tweets.each do |tweet| %>
  <%= render partial: "tweet", locals: {tweet: tweet} %>
<% end %>
</table>