<h1>Tweets</h1>

Welcome to my tweets app!

<%= render :partial => 'errors', :locals => {:tweet => @tweet} %>

<br/><br/>
<%= render :partial => 'form', :locals => {:tweet => @tweet} %>
<br/>

<ul>
<% @tweets.each do |tweet| %>
  <li><%= link_to(tweet.user.handle, "/users/#{tweet.user.id}") %>: <%= tweet.body %></li>
<% end %>
</ol>