<%= render :partial => 'errors', :locals => {:tweet => @new_tweet} %>

<% if user_signed_in? %>
<div class="new_tweet_wrapper">
<%= render :partial => 'form', :locals => {:tweet => @new_tweet} %>
</div>
<% end %>

<table class="tweets_list">
<% @tweets.each do |tweet| %>
  <%= render partial: "tweet", locals: {tweet: tweet} %>
<% end %>
</table>