.tweet_form {
  textarea {
    font-size: 20px;
    padding: 5px;
    width: 300px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
  }

  input[type='submit'] {
    font-weight: bold;
  }
}

.new_tweet_wrapper {
  margin: 10px 0;
  text-align: center;
}