.twitter_profile {
  padding: 15px 0 25px 0;

  table {
    width: 100%;

    .photo {
      text-align: center;
    }

    .twitter_handle {
      font-size: 30px;
      margin-bottom: 5px;
      font-family: $fancy-font-family;
      text-align: center;
      color: $highlight-text-color;
    }
  }
}



/* Rounded avatars */
.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee, 0 2px 5px 4px rgba(0,0,0,.2);
}